<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title> Ionic NFC </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <h1>Reading NFC</h1>
    <ion-card class="ion-no-margin">
      <ion-card-header>
        <ion-card-title>ID : {{ idNFCbytesToHexString }}</ion-card-title>
      </ion-card-header>
      <ion-card-content> idNFCbytesToHexString : {{ idNFCbytesToHexString }} </ion-card-content>
      <ion-card-content> idNFCbytesToString : {{ idNFCbytesToString }} </ion-card-content>
      <ion-card-content> idNFCstringToBytes : {{ idNFCstringToBytes }} </ion-card-content>
      <ion-card-content> techTypes : {{ techTypes }} </ion-card-content>
    </ion-card>
  </div>
  <section>
    <ion-button color="primary" expand="block" (click)="nfcEnable()" >NFC Enabled</ion-button>
  </section>
  <section>
    <ion-button color="success" expand="block" (click)="Setting()" >Setting</ion-button>
  </section>
</ion-content>

<!-- <ion-footer no-border>
  <ion-card expand="block">
    <div style="text-align: center;">
      <section>
        <ion-button color="success" expand="block" (click)="Setting()" >Setting</ion-button>
      </section>
    </div>
  </ion-card>
</ion-footer> -->